<footer class="footer">
    <div class="container-fluid">
        <div class="copyright float-right">
            &copy;
            System Development by Lucas de Amystherdam            
        </div>
    </div>
    Easter egg no footer!
</footer>