<div class="content">
    <div class="container-fluid">
        <!-- your content here -->
        <h3>Consultas de atendimento e faturamento</h3>
        
                <%= link_to resultado_path do  %> 
                  <p>ir para resultado</p>
                <%end%>
    </div>
</div>