<div class="content">
    <div class="container-fluid">
        <!-- your content here -->
        <h3>Detalhes da transação comercial</h3>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Serviço</h4>
                        <p class="card-category"> 9042860293586</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Descrição do Produto
                                    </th>
                                    <th>
                                        Valor Unitário
                                    </th>
                                    <th>
                                        Quantidade
                                    </th>
                                    <th>
                                        Desconto
                                    </th>
                                    <th>
                                        Situação do Negócio
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            PC de Rico
                                        </td>
                                        <td class="text-primary">
                                            R$36,738
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            PC de Rico
                                        </td>
                                        <td class="text-primary">
                                        R$36,738
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>