<div class="content">
    <div class="container-fluid">        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Vendedores</h4>
                    <p class="card-category"> Vendedores que você supervisiona</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            ID
                        </th>
                        <th>
                            Name
                        </th>
                        </thead>
                        <tbody>
                            <% @dados_vendedores.each do |informacoes_vendedores|%>
                                <tr>
                                    <td>
                                        <%= informacoes_vendedores.seller_code%>
                                    </td>
                                    <td>
                                        <%= informacoes_vendedores.seller_name%>
                                    </td>
                                </tr>
                            <%end%>
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>