<div class="row">
    <div class="col-md-12">
        <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title ">Vendedores</h4>
            <p class="card-category"> Vendedores que você supervisiona</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
            <table class="table">
                <thead class=" text-primary">
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                </thead>
                <tbody>
                <tr>
                    <td>
                    00000700
                    </td>
                    <td>
                    Fulano
                    </td>
                </tr>
                <tr>
                    <td>
                    00000800
                    </td>
                    <td>
                    Ciclano
                    </td>
                </tr>
                <tr>
                    <td>
                    00000900
                    </td>
                    <td>
                    Beltrano
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
</div>